#scroll-button {
    position: fixed;
    right: 20px;
    bottom: 20px;
    font-size: 20px;
    background-color: blue;
    border: 10px solid blue;
    border-radius: 30px;
}
#scroll-button a{
    color: white;
}
#top {
    border-bottom: 1px solid white;
}
#bottom {
    margin-top: 2px;
}
