* {
  margin: 10px;
}
.header {
  height: 100px;
  background-color: pink;
  border: 1px solid red;
}
.navbar {
  height: 400px;
  width: 20%;
  background-color: yellow;
  border: 1px solid brown;
  display: inline-block;
  margin: 10px 0px;
}
.content {
  height: 400px;
  width: 75%;
  background-color: skyblue;
  border: 1px solid blue;
  display: inline-block;
  margin-left: 0;
}
.footer {
  height: 150px;
  background-color: lightgreen;
  border: 1px solid green;
}

@media only screen and (max-width: 799px) {
  .navbar {
    height: 400px;
    width: 100%;
    background-color: yellow;
    border: 1px solid brown;
  }
  .content {
    height: 400px;
    width: 100%;
    background-color: skyblue;
    border: 1px solid blue;
  }
}
